body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

input[name="race-distance"],
input[name="participants-limit"],
input[name="time-limit"] {
	width: 50px;
}